:root {
  --visuAspectRatio: 16/9;
  --visuMaxWidth: 100vw;
  --visuWidth: min(var(--visuMaxWidth), calc(100vh * var(--visuAspectRatio)));

  --iconSize: .1;

  --scrollbarWidth: 17px;

  --darkestGrey: hsl(249, 10%, 13%);
  --darkerGrey: hsl(249, 10%, 18%);
  --darkGrey: hsl(249, 10%, 23%);
  --grey: hsl(249, 10%, 28%);
  --lightGrey: hsl(249, 10%, 33%);
  --lighterGrey: hsl(249, 10%, 38%);
  --lightestGrey: hsl(249, 10%, 43%);
  /*
  */
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--darkerGrey);
  color: white;
  display: grid;
  justify-items: center;
  /*
  align-items: center;
  */
}

.signalTable {
  position: fixed;
  left: 0;
  background-color: var(--grey);
  max-height: 100vh;
  overflow-y: auto;
  writing-mode: sideways-rl;
}
.signalTable[open] {
  writing-mode: initial;
  padding-right: var(--scrollbarWidth);
}
.signalGroup {
  display: grid;
  grid-template-columns: repeat(1fr);
}

.visuItemPool {
  position: fixed;
  right: 0;
  background-color: var(--grey);
  overflow-y: auto;
  writing-mode: sideways-lr;
}
.visuItemPool[open] {
  writing-mode: initial;
  height: 100vh;
  padding-left: var(--scrollbarWidth);
}

.divVisu {
  /*
  overflow: hidden;
  */
  background-color: var(--darkestGrey);
  width: var(--visuWidth);
  aspect-ratio: var(--visuAspectRatio);
  position: relative;
}

.visuItem {
  cursor: pointer;
  background-color: green;
  display: grid;
	grid-template-areas: 
	'icon values';
	grid-template-columns: min-content min-content;
  width: fit-content;
  min-width: 2ch;
  min-height: 2ch;
  /*
  width: calc(var(--iconSize) * var(--visuWidth));
  aspect-ratio: 1;
  height: fit-content;
  aspect-ratio: var(--visuAspectRatio);
  width: 10%;
  height: calc(.1 * var(--visuWidth));
  width: 10%;
  position: absolute;
  top: 10%;
  left: 10%;
  */
}
[iconPosition = "right"] {
	grid-template-areas:
	'values icon';
}
[iconPosition = "right"] input {
  text-align: end;
}
[iconPosition = "top"] {
	grid-template-areas: 
	'icon'
	'values';
}
[iconPosition = "bottom"] {
	grid-template-areas: 
	'values'
	'icon';
}

.divIcon {
  background-color: yellow;
  grid-area: icon;
  width: calc(var(--iconSize) * var(--visuWidth));
  aspect-ratio: 1;
}

.divSignals {
  background-color: violet;
  grid-area: values;
}

[rotation= ".25"] {
  rotate: .25turn;
}
/*********************GenericAttributes*********************/
[cloaked] {
  display: none;
}

/*********************CursorStylez*********************/
[draggable] {
  cursor: grab;
}
[dragging] {
  cursor: grabbing;
}
summary,
input[type="radio"],
label[for] {
  cursor: pointer;
}