:root {
  --visuAspectRatio: 16/9;
  --visuMaxWidth: 100vw;
  --visuMaxHeight: 90vh;
  --visuWidth: min(var(--visuMaxWidth), calc(var(--visuMaxHeight) * var(--visuAspectRatio)));

  --GRIDSIZE_AS_PARTS_FROM_WIDTH: 32;
  --iconSize: calc(var(--visuWidth) / var(--GRIDSIZE_AS_PARTS_FROM_WIDTH));
  --fontSizeIconSignals: calc(var(--iconSize) / 3);
  --inputTextWidth: calc(1.5 * var(--iconSize));

  --controlsWidthOffset: 18px; /*such as scrollbar or input[type=number] controls*/

  /*Colors*/
  --magenta: hsl(334, 74%, 44%);
  --cyan: hsl(194, 74%, 44%);
  --purple: hsl(264, 74%, 44%);
  --yellow: hsl(50, 74%, 44%);
  --green: hsl(120, 74%, 44%);
  --darkestGrey: hsl(249, 10%, 13%);
  --darkerGrey: hsl(249, 10%, 18%);
  --darkGrey: hsl(249, 10%, 23%);
  --grey: hsl(249, 10%, 28%);
  --lightGrey: hsl(249, 10%, 33%);
  --lighterGrey: hsl(249, 10%, 38%);
  --lightestGrey: hsl(249, 10%, 43%);
  /*
  */
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--darkerGrey);
  color: white;
  display: grid;
  justify-items: center;
  /*
  align-items: center;
  */
}

.visuEditElement {
  position: fixed;
  background-color: var(--grey);
  max-height: 100vh;
  overflow-y: auto;
}
.visuEditElement[open] {
  writing-mode: initial;
  padding-right: var(--controlsWidthOffset);
}
.signalPool {
  left: 0;
  writing-mode: sideways-rl;
}
.visuItemPool {
  right: 0;
  writing-mode: sideways-lr;
}
.visuItemPool[open] {
  height: 100vh;
}

[stil = "sollwert"] {
  color: white;
  background-color: var(--cyan);
}
[stil = "grenzwert"] {
  color: white;
  background-color: var(--magenta);
}

.divVisu {
  /*
  overflow: hidden;
  */
  background-color: var(--darkestGrey);
  width: var(--visuWidth);
  aspect-ratio: var(--visuAspectRatio);
  position: relative;
}
.divVisu {
  cursor: crosshair;
}
/*
.divVisu[mode="select"] path {
  cursor: pointer;
}
*/

.visuItem {
  /*
  background-color: green;
  */
  cursor: pointer;
  display: grid;
}
.visuItem[icon = "aggregat"],
.visuItem[icon = "kessel"],
.visuItem[icon = "puffer"] {
  width: calc(2 * var(--iconSize));
  aspect-ratio: 2/3;
  border: 1px solid white;
  background-color: var(--darkestGrey);
  box-sizing: border-box;
  grid-template-areas: 
	'Error        .       .       Freigabe  '
  '.            .       .       .         '
  '.            .       .       .         '
  '.            .       .       signalsEnd'
  '.            icon    icon    .         '
  'Betriebsart  icon    icon    Absenkung ';
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}
.visuItem[icon = "puffer"] {
  border-radius: var(--controlsWidthOffset);
}
.visuItem:not([icon = "aggregat"], [icon = "kessel"], [icon = "puffer"], [icon = "button"]) {
  grid-template-areas: 
	'icon signals';
	grid-auto-columns: min-content;
  width: fit-content;
  /*
  min-width: 2ch;
  min-height: 2ch;
  background-color: var(--grey);
  padding: 2ch;
  */
}
.visuItem:not([icon = "aggregat"], [icon = "kessel"], [icon = "puffer"], [icon = "button"])[iconPosition = "right"] {
	grid-template-areas:
	'signals icon';
}
.visuItem:not([icon = "aggregat"], [icon = "kessel"], [icon = "puffer"], [icon = "button"])[iconPosition = "right"] input {
  text-align: end;
}
.visuItem:not([icon = "aggregat"], [icon = "kessel"], [icon = "puffer"], [icon = "button"])[iconPosition = "top"] {
	grid-template-areas: 
	'icon'
	'signals';
}
.visuItem:not([icon = "aggregat"], [icon = "kessel"], [icon = "puffer"], [icon = "button"])[iconPosition = "bottom"] {
	grid-template-areas: 
	'signals'
	'icon';
}

.divIcon {
  /*
  background-color: yellow;
  */
  grid-area: icon;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
  'Error        .       Freigabe '
  '.            .       .        '
  'Betriebsart  .       Absenkung';
  grid-auto-rows: 1fr;
  /*
  grid-auto-columns: 1fr;
  */
}
.visuItem:not([icon = "temperatur"]) .divIcon {
  min-height: var(--iconSize);
  min-width: var(--iconSize);
}

.visuItem:not([icon = "button"]):not([icon = "temperatur"]) .divIcon {
  width: var(--iconSize);
}
.visuItem[icon = "temperatur"] .divIcon {
  width: calc(var(--iconSize)/2);
  aspect-ratio: 1;
}

.icon {
  grid-area: Error-start / Error-start / Absenkung-end / Absenkung-end;
}
[rotation = "90"] {
  rotate: 90deg;
}
[rotation = "180"] {
  rotate: 180deg;
}
[rotation = "270"] {
  rotate: 270deg;
}
[writing = "downward"] {
  writing-mode: sideways-rl;
}
[writing = "upward"] {
  writing-mode: sideways-lr;
}

.divIconSignal {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: var(--fontSizeIconSignals);
  line-height: 1;
  z-index: 1;
}
.divIconSignal:not([NA]) {
  cursor: pointer;
}

.divError {
  grid-area: Error;
  color: var(--magenta);
}

.divFreigabe {
  grid-area: Freigabe;
  color: var(--cyan);
}

.divBetriebsart {
  grid-area: Betriebsart;
}

.divAbsenkung {
  grid-area: Absenkung;
}

.divBetrieb {
  grid-area: Error-start / Error-start / Absenkung-end / Absenkung-end;
}

.divSignals {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: var(--grey);
  min-width: var(--controlsWidthOffset);
  min-height: var(--controlsWidthOffset);
  /*
  */
}
.visuItem:not([icon = "aggregat"], [icon = "kessel"], [icon = "puffer"]) .divSignals {
  grid-area: signals;
}
.visuItem[icon = "aggregat"] .divSignals,
.visuItem[icon = "kessel"] .divSignals,
.visuItem[icon = "puffer"] .divSignals {
  grid-area: Error-start / Error-start / signalsEnd-end / signalsEnd-end;
}
.visuItem[icon = "aggregat"] [type = "text"],
.visuItem[icon = "kessel"] [type = "text"],
.visuItem[icon = "puffer"] [type = "text"] {
  width: 100%;
  text-align: center;
}

[type = "text"] {
  box-sizing: border-box;
  width: var(--inputTextWidth);
}
/*********************EditorTools*********************/
.strokeWidth {
  width: calc(3ch + var(--controlsWidthOffset));
}
/*********************GenericAttributes*********************/
[cloaked] {
  display: none;
}
[NA] {
  opacity: 0;
}
[selected] {
  outline: 1px solid var(--green);
}
/*********************CursorStylez*********************/
[draggable = "true"] {
  cursor: grab;
}
[dragging] {
  cursor: grabbing;
}
summary,
input:not([type="text"]):not([type="number"]),
label[for],
select {
  cursor: pointer;
}
.divVisu .divSignals input[type="button"] {
  cursor: text;
}
/*********************FlameStyle*********************/
.flame {
  position:relative;
  opacity: 0.2;
}
.flameLayer {
  aspect-ratio: 1;
  bottom: 15%;
  position:absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg);
}
.flameLayer.red {
  left: 15%;
  width: 70%;
  background:OrangeRed;
  box-shadow: 0 0 calc(.07*var(--iconSize)) calc(.06*var(--iconSize)) OrangeRed;    /*box-shadow akzeptiert keine [%] => umständliche berechnung!*/
}
.flameLayer.orange {
  left: 22%; 
  width: 56%;
  background:orange;
  box-shadow: 0 0 calc(.13*var(--iconSize)) calc(.06*var(--iconSize)) orange;   /*box-shadow akzeptiert keine [%] => umständliche berechnung!*/
}
.flameLayer.yellow {
  left: 29%; 
  width: 42%;
  background:gold;
  box-shadow: 0 0 calc(.13*var(--iconSize)) calc(.06*var(--iconSize)) gold;   /*box-shadow akzeptiert keine [%] => umständliche berechnung!*/
}
.flameLayer.white {
  left: 29%; 
  bottom: 10%;
  width: 42%;
  background:white;
  box-shadow: 0 0 calc(.13*var(--iconSize)) calc(.06*var(--iconSize)) white;   /*box-shadow akzeptiert keine [%] => umständliche berechnung!*/
}
.flameLayer.blue {
  left: 46%; 
  bottom: 10%;
  width: 4%;
  background:SlateBlue;
  opacity: 0.7;
  box-shadow: 0 0 calc(.13*var(--iconSize)) calc(.06*var(--iconSize)) SlateBlue;   /*box-shadow akzeptiert keine [%] => umständliche berechnung!*/
}
/*********************Animations*********************/
.flicker {
  animation: flicker 3ms ease-in 200ms infinite alternate;
}
@keyframes flicker {
  0%   {transform: rotate(-1deg) scale(.75,.8);}
  20%  {transform: rotate(1deg) scale(.8,.8);}
  40%  {transform: rotate(-1deg) scale(.75,.8);}
  60%  {transform: rotate(1deg) scale(.8,.95);}
  80%  {transform: rotate(-2deg) scale(.75,.75);}
  100% {transform: rotate(1deg) scale(.8,.8);}
}